<div id="<%= dom_id athlete %>">
  <p>
    <strong>Profile:</strong>
    <%= athlete.profile %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= athlete.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= athlete.age %>
  </p>

  <p>
    <strong>Sport definition:</strong>
    <%= athlete.sport_definition %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= athlete.email %>
  </p>

</div>
