<div id="<%= dom_id athlete %>" class="card">

  <h2><%= sport_icon(athlete.sport_definition) %> <%= athlete.name %></h2>

  <p>
  <strong>Sport:</strong>
  <%= athlete.sport_definition %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= athlete.age %>
  </p>


  <p>
    <strong>Email:</strong>
    <%= athlete.email %>
  </p>

  <div class="actions">
    <%= link_to "Show profile", athlete, class: "btn" %>
  </div>

</div>
